Repository Project-Unifest/unifest-android, pull requests merged in 2024-03, with the labels that each got.

#10 [FEAT] [#7] Navigstion Bar UI 구성 및 화면 연동
  core/designsystem/build.gradle.kts
  core/designsystem/src/main/kotlin/com/unifest/android/core/designsystem/theme/Font.kt
  core/designsystem/src/main/kotlin/com/unifest/android/core/designsystem/theme/Theme.kt
  core/designsystem/src/main/res/drawable/ic_home.xml
  core/designsystem/src/main/res/drawable/ic_map.xml
  core/designsystem/src/main/res/drawable/ic_menu.xml
  core/designsystem/src/main/res/drawable/ic_selected_home.xml
  core/designsystem/src/main/res/drawable/ic_selected_map.xml
  core/designsystem/src/main/res/drawable/ic_selected_waiting.xml
  core/designsystem/src/main/res/drawable/ic_waiting.xml
  core/designsystem/src/main/res/font/pretendard_bold.otf
  core/designsystem/src/main/res/font/pretendard_medium.otf
  core/designsystem/src/main/res/font/pretendard_regular.otf
  core/designsystem/src/main/res/font/pretendard_semi_bold.otf
  core/designsystem/src/main/res/values/strings.xml
  core/ui/src/main/kotlin/com/unifest/android/core/ui/DevicePreview.kt
  feature/home/src/main/kotlin/com/unifest/android/feature/home/HomeScreen.kt
  feature/home/src/main/kotlin/com/unifest/android/feature/home/navigation/HomeNavigation.kt
  feature/home/src/main/kotlin/com/unifest/android/feature/home/viewmodel/HomeViewModel.kt
  feature/main/src/main/kotlin/com/unifest/android/feature/main/MainActivity.kt
  feature/main/src/main/kotlin/com/unifest/android/feature/main/MainNavController.kt
  feature/main/src/main/kotlin/com/unifest/android/feature/main/MainScreen.kt
  feature/main/src/main/kotlin/com/unifest/android/feature/main/MainTab.kt
  feature/map/src/main/kotlin/com/unifest/android/feature/map/MapScreen.kt
  feature/map/src/main/kotlin/com/unifest/android/feature/map/navigation/MapNavigation.kt
  feature/map/src/main/kotlin/com/unifest/android/feature/map/viewmodel/MapViewModel.kt
  feature/menu/src/main/kotlin/com/unifest/android/feature/menu/MenuScreen.kt
  feature/menu/src/main/kotlin/com/unifest/android/feature/menu/navigation/MenuNavigation.kt
  feature/menu/src/main/kotlin/com/unifest/android/feature/menu/viewmodel/MenuViewModel.kt
  feature/waiting/src/main/kotlin/com/unifest/android/feature/waiting/WaitingScreen.kt
  feature/waiting/src/main/kotlin/com/unifest/android/feature/waiting/navigation/WaitingNavigation.kt
  feature/waiting/src/main/kotlin/com/unifest/android/feature/waiting/viewmodel/WaitingViewModel.kt
Labels: enhancement, design

#22 [feat] [#20] Home 화면 Calendar 라이브러리 연동
  core/designsystem/src/main/res/drawable/ic_chevron_left.xml
  core/designsystem/src/main/res/drawable/ic_chevron_right.xml
  core/designsystem/src/main/res/values/colors.xml
  core/designsystem/src/main/res/values/strings.xml
  feature/home/build.gradle.kts
  feature/home/src/main/kotlin/com/unifest/android/feature/home/Calendar.kt
  feature/home/src/main/kotlin/com/unifest/android/feature/home/HomeScreen.kt
  feature/home/src/main/kotlin/com/unifest/android/feature/home/Utils.kt
  feature/main/src/main/kotlin/com/unifest/android/feature/main/MainActivity.kt
  feature/main/src/main/kotlin/com/unifest/android/feature/main/MainScreen.kt
  gradle/libs.versions.toml
Labels: enhancement, design

#24 [feat] [#21] Map 화면 내에 Google Map 연동
  app/src/main/AndroidManifest.xml
  core/domain/build.gradle.kts
  core/domain/src/main/kotlin/com/unifest/android/core/domain/MyClass.kt
  core/domain/src/main/kotlin/com/unifest/android/core/domain/entity/BoothSpot.kt
  feature/map/build.gradle.kts
  feature/map/src/main/kotlin/com/unifest/android/feature/map/MapScreen.kt
  feature/map/src/main/kotlin/com/unifest/android/feature/map/viewmodel/MapUiState.kt
  feature/map/src/main/kotlin/com/unifest/android/feature/map/viewmodel/MapViewModel.kt
  gradle/libs.versions.toml
  secrets.properties
Labels: enhancement, design

#25 [feat] [#19] Intro 화면 UI
  core/designsystem/src/main/res/values/strings.xml
  core/domain/build.gradle.kts
  core/domain/src/main/kotlin/com/unifest/android/core/domain/entity/SchoolEntity.kt
  feature/home/src/main/kotlin/com/unifest/android/feature/home/HomeScreen.kt
  feature/intro/build.gradle.kts
  feature/intro/src/main/kotlin/com/unifest/android/feature/intro/IntroScreen.kt
Labels: design

#29 [feat] [#30] 공통으로 사용하는 Component 추가 및 적용
  build-logic/src/main/kotlin/JvmKotlinConventionPlugin.kt
  core/common/src/main/kotlin/com/unifest/android/core/common/extension/Modifier.kt
  core/designsystem/build.gradle.kts
  core/designsystem/src/main/kotlin/com/unifest/android/core/designsystem/ComponentPreview.kt
  core/designsystem/src/main/kotlin/com/unifest/android/core/designsystem/component/Button.kt
  core/designsystem/src/main/kotlin/com/unifest/android/core/designsystem/component/LoadingWheel.kt
  core/designsystem/src/main/kotlin/com/unifest/android/core/designsystem/component/NetworkImage.kt
  core/designsystem/src/main/kotlin/com/unifest/android/core/designsystem/component/SearchTextField.kt
  core/designsystem/src/main/kotlin/com/unifest/android/core/designsystem/component/TopAppBar.kt
  core/designsystem/src/main/kotlin/com/unifest/android/core/designsystem/theme/Font.kt
  core/designsystem/src/main/res/drawable/ic_arrow_back.xml
  core/designsystem/src/main/res/drawable/ic_arrow_below.xml
  core/designsystem/src/main/res/drawable/ic_event.xml
  core/designsystem/src/main/res/drawable/ic_event_selected.xml
  core/designsystem/src/main/res/drawable/ic_food.xml
  core/designsystem/src/main/res/drawable/ic_food_selected.xml
  core/designsystem/src/main/res/drawable/ic_general.xml
  core/designsystem/src/main/res/drawable/ic_general_selected.xml
  core/designsystem/src/main/res/drawable/ic_medical.xml
  core/designsystem/src/main/res/drawable/ic_medical_selected.xml
  core/designsystem/src/main/res/drawable/ic_pub.xml
  core/designsystem/src/main/res/drawable/ic_pub_selected.xml
  core/designsystem/src/main/res/drawable/ic_restroom.xml
  core/designsystem/src/main/res/drawable/ic_restroom_selected.xml
  core/designsystem/src/main/res/drawable/ic_search.xml
  core/designsystem/src/main/res/values/strings.xml
  feature/home/build.gradle.kts
  feature/home/src/main/kotlin/com/unifest/android/feature/home/HomeScreen.kt
  feature/intro/src/main/kotlin/com/unifest/android/feature/intro/IntroScreen.kt
  feature/intro/src/main/kotlin/com/unifest/android/feature/intro/viewmodel/IntroUiState.kt
  feature/intro/src/main/kotlin/com/unifest/android/feature/intro/viewmodel/IntroViewModel.kt
  feature/main/src/main/kotlin/com/unifest/android/feature/main/MainActivity.kt
  feature/main/src/main/kotlin/com/unifest/android/feature/main/MainScreen.kt
  feature/map/src/main/kotlin/com/unifest/android/feature/map/viewmodel/MapUiState.kt
  feature/map/src/main/kotlin/com/unifest/android/feature/map/viewmodel/MapViewModel.kt
  gradle/libs.versions.toml
  secrets.properties
Labels: enhancement, design, refactor
